.infoChoose {
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border: 2px solid rgb(223, 220, 220);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 22%;
  height: 82px;
}

.infoChoose:hover {
  border: 1.5px solid var(--black);
}

@media only screen and (max-width: 990px) {
  .infoChoose {
    font-size: 12px;
  }
}
