.title {
  text-align: center;
}

.products {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item {
  box-sizing: border-box;
  border: 1px solid rgb(224, 224, 224);
}

.product-content-img {
  display: flex;
  justify-content: center;
}

.product-content-img img {
  width: 80%;
}

.product-content {
  text-align: left !important;
  padding: 0 5%;
}

.product-content p:nth-child(1) {
  line-height: 30px;
}

.product-content p {
  line-height: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* desktop version adjusment */
@media screen and (max-width: 700px) {
  .product-item {
    width: 40%;
  }
}
