.info {
  position: relative;
}

.rate {
  padding-top: 10px;
}

.info-price {
  color: var(--blue);
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 0 0;
}

.increase-decrease {
  display: flex;
  align-items: center;
}

.increase-decrease span {
  padding: 10px;
}

.info-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.info-color {
  background-color: #90bad1;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
}

.info-btn {
  width: 100%;
  height: 38px;
  color: var(--white);
  border: none;
  border-radius: 8px;
  margin-top: 20px;
}

@media only screen and (max-width: 990px) {
  .info {
    width: 90vw;
  }
}
