.nav {
  background-color: #000;
  color: var(--white);
  height: 88px;
  display: flex;
  align-items: center;
  padding: 0 15%;
  justify-content: space-between;
  font-size: 16px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav .mobileMenu {
  display: none;
}

/* Mobile version adjusment */
@media screen and (max-width: 990px) {
  .nav {
    padding: 0 10%;
  }
  .nav ul {
    display: none;
  }

  .nav .mobileMenu {
    display: block;
  }
}
