.details {
  padding: 0 15%;
  display: grid;
  grid-template-columns: 50% 35%;
  gap: 10%;
  margin: 50px 0;
}

@media only screen and (max-width: 990px) {
  .details {
    padding: 0 5%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3%;
  }
}
