.swiper {
  width: 100%;
  height: 370px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px !important;
  background: var(--white);
  padding: 8px 12px;
  border-radius: 50%;
  color: gray;
}

.swiper-button-next,
.swiper-button-prev {
  width: 30% !important;
}
