.footer {
  margin-top: 50px;
  height: 100px;
  background-color: var(--black);
  color: var(--white);
  padding-top: 10px;
}

.footer-row1 {
  display: flex;
  padding: 0 20%;
  justify-content: space-evenly;
}

.footer-row2 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
